body{
    font-family: "Roboto"; 
}

.header, 
.footer{
    background-color: #1F2937;
    padding: 30px 60px; 
    display: flex; 
    flex-direction: column; 
    gap: 60px; 
}

.title{
    font-size: 40px; 
    color: #F9FAF8; 
    font-weight: 900; 
}

.logo_text{
    font-size: 24px; 
    color: #F9FAF8; 
}

button{
    background-color: #3882F6; 
    color: white; 
    border-radius: 8px; 
    padding: 5px 25px; 
    align-self: flex-start; 
}


.logo_text{
    font-size: 18px; 
    color: #E5E7EB; 
}

.introduction{
    display: flex; 
    flex-direction: column; 
    padding: 40px; 
    gap: 10px; 
}

.links, 
.site_description, 
.footer_text{
    font-size: 18px; 
    color: #bfc4c9; 
}

.footer{
    align-items: center; 
}

.header_top{
    display: flex; 
    justify-content: space-between; 
}

.header_bottom{
    display: flex; 

}

.header_image{
    width: 350px; 

}

.links{
    display: flex; 
    gap: 20px; 
}




.random_info{
    display: flex; 
    flex-direction: column;
    padding: 40px; 
    align-items: center; 
    gap: 40px; 
}

.some_random_information{
    font-size: 36px; 
    color: #1F2937; 
    font-weight: 900; 
}

.all_pics_and_texts{
    display: flex; 
    gap: 40px; 
}

.pic_and_text{
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    flex-wrap: nowrap; 
    height: 450px; 
    max-width: 100vw; 
}

.france_pic{
    width: auto; 
    border-radius: 10px; 
    max-height: 80%; 
    max-width: 100%;
}

.franc_desc{
    text-align: center; 
    width: 200px; 
}